@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url(../src/fonts/Satoshi/Satoshi-Regular.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url(../src/fonts/Satoshi/Satoshi-Medium.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Satoshi";
  src: url(../src/fonts/Satoshi/Satoshi-Bold.otf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Satoshi";
  src: url(../src/fonts/Satoshi/Satoshi-Black.otf) format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "GT Maru Trial";
  src: url(../src/fonts/GT_Maru/GT-Maru-Regular-Trial.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "GT Maru Trial";
  src: url(../src/fonts/GT_Maru/GT-Maru-Medium-Trial.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "GT Maru Trial";
  src: url(../src/fonts/GT_Maru/GT-Maru-Bold-Trial.otf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "GT Maru Trial";
  src: url(../src/fonts/GT_Maru/GT-Maru-Black-Trial.otf) format("opentype");
  font-weight: 900;
}

* {
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  font-family: "Satoshi", sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  word-spacing: 2px;
}

p {
  line-height: clamp(1.75rem, 1.2rem + 1.5vw, 4rem);
  margin: auto;
}

h1 {
  font-size: clamp(4rem, 2rem + 6vw, 16rem);
}

h2 {
  font-size: clamp(2.5rem, 1.5rem + 3vw, 7rem);
}
h3 {
  font-size: clamp(1.75rem, 1rem + 1.5vw, 3.5rem);
  line-height: clamp(2rem, 1.5rem + 1.5vw, 4rem);
}
h4 {
  font-size: clamp(1.25rem, 1rem + 0.75vw, 2.25rem);
  line-height: clamp(1.5rem, 1.2rem + 0.6vw, 2.1rem);
}
h5 {
  font-size: clamp(1.125rem, 0.9rem + 0.4vw, 1.5rem);
  line-height: clamp(1.5rem, 1.2rem + 0.5vw, 2rem);
}

h6 {
  font-size: clamp(1rem, 0.85rem + 0.25vw, 1.25rem);
  line-height: clamp(1.375rem, 1.1rem + 0.25vw, 1.75rem);
}

u {
  font-size: clamp(0.875rem, 0.75rem + 0.15vw, 1.25rem);
  font-weight: 700;
  text-decoration: none;
}

a {
  mix-blend-mode: difference;
}

.bg-code {
  background-color: rgb(40, 42, 54);
}

#blinking-cursor::after {
  content: "|";
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#system-ui {
  font-family: system-ui;
}
